<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018947957346-kpi8chllgr252dkvcv5jcibdebgqv8a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018947957346-kpi8chllgr252dkvcv5jcibdebgqv8a8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018947957346-9ctav3d0ha73bn9vcltt5eqddvr1d324.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy5kPsHLeRXRtk6AyE0Qg0cyTxs1ByINY</string>
	<key>GCM_SENDER_ID</key>
	<string>1018947957346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arboliot.giz</string>
	<key>PROJECT_ID</key>
	<string>biot-2</string>
	<key>STORAGE_BUCKET</key>
	<string>biot-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018947957346:ios:d927a56381f80f31</string>
	<key>DATABASE_URL</key>
	<string>https://biot-2.firebaseio.com</string>
</dict>
</plist>